<!DOCTYPE html>
<html ng-app>
    <head>
        <title>VISTAS WebGL</title>
        <script src="http://web.engr.oregonstate.edu/~ratanasv/WebGL-Inspector/core/embed.js"></script>
        <script src=http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
        <script src="http://web.engr.oregonstate.edu/~ratanasv/threejs/build/three.js"></script>
        <script src="http://web.engr.oregonstate.edu/~ratanasv/threejs/examples/js/libs/stats.min.js"></script>
        <script src="http://web.engr.oregonstate.edu/~ratanasv/threejs/examples/js/controls/OrbitControls.js"></script>
        <script>
            var servisHost = 'http://54.200.144.27:8888';
            var container, stats, info;
            var camera, scene, renderer, controls;
            var mesh, geometry;
            var data;

            getData();

            function getData() {
                var queryObject = {
                    method: 'getTerrain',
                    fileName: 'easternOregon'
                };
                var callback = function(res) {
                    data = res;
                    init();
                    animate();
                };
                makeServisRequest(queryObject, callback);
            }

            function addGeometryAttributes(geometry) {
                var pos, indices;

                geometry.addAttribute('index', Uint16Array, data.indices.length, 1);
                geometry.addAttribute('position', Float32Array, data.vertices.length, 3);
                ind = geometry.attributes.index.array;
                pos = geometry.attributes.position.array;
                for (var i=0; i<data.indices.length; i++) {
                    ind[i] = data.indices[i];
                }
                for (var i=0; i<data.vertices.length; i++) {
                    pos[3*i+0] = data.vertices[i].x;
                    pos[3*i+1] = data.vertices[i].y;
                    pos[3*i+2] = data.vertices[i].z;
                }
                /*
                ind[0] = 0; ind[1] = 1; ind[2] = 2;
                pos[0] = 10.0; pos[1] = -10.0; pos[2] = 0.0;
                pos[3] = 0.0; pos[4] = 10.0; pos[5] = 0.0;
                pos[6] = -10.0; pos[7]= -10.0; pos[8] = 0.0;*/
                geometry.offsets = [];
                geometry.offsets.push({
                    start: 0,
                    index: 0,
                    count: data.indices.length
                });

            }

            function addLighting(scene) {
                var light0 = new THREE.PointLight(0xff0040, 1.0, 0.0);
                scene.add(light0);
                light0.position.x = 0.0;
                light0.position.y = 500.0;
                light0.position.z = 0.0;
            }

            function makeServisRequest(query, callback) {
                $.ajax({
                    url: servisHost,
                    data: query,
                    dataType: 'jsonp',
                    success: callback
                });
            }

            function ngAttributeController($scope, $http) {
                $scope.attributes = [{
                    label: 'none'
                }];
                $scope.attribute = $scope.attributes[0];

                /*$scope.refreshAttribute = function() {
                    var queryObject = {
                        method: 'getAttributes',
                        fileName: 'easternOregon'
                    };
                    var callback = function(res) {
                        $scope.attributes = [];
                        for (var i=0; i<res.length; i++) {
                            $scope.attributes.push({
                                label: res[i]
                            });
                        }
                        $scope.attribute = $scope.attributes[0];
                    }
                    makeServisRequest(queryObject, callback);
                }*/
                $scope.refreshAttribute = function() {
                    $http({
                        method: 'GET',
                        url: servisHost,
                        data: {
                            method: 'getAttributes',
                            fileName: 'easternOregon'
                        },
                        dataType: 'jsonp'
                    }).success(function(data) {
                        $scope.attributes.push_back({});
                    });
                }
            }

            function init() {
                camera = new THREE.PerspectiveCamera(45, window.innerWidth/window.innerHeight, 1, 3000);
                camera.position.z = 50;
                controls = new THREE.OrbitControls(camera, document.getElementById('canvas'));

                geometry = new THREE.BufferGeometry();
                addGeometryAttributes(geometry);
                geometry.computeBoundingSphere();
                geometry.computeVertexNormals(true);

                scene = new THREE.Scene();
                mesh = new THREE.Mesh(geometry, new THREE.MeshPhongMaterial({
                            color: 0xf47321,
                            side: THREE.DoubleSide}));
                scene.add(mesh);
                addLighting(scene);

                renderer = new THREE.WebGLRenderer({
                        antialias: true
                });
                renderer.setSize(window.innerWidth, window.innerHeight);
                container = document.getElementById('container');
                document.getElementById('canvas').appendChild(renderer.domElement);

                stats = new Stats();
                stats.domElement.style.position = 'absolute';
                stats.domElement.style.top = '0px';
                container.appendChild(stats.domElement);

                info = document.getElementById('info');
                info.style.position = 'absolute';
                info.style.top = '10px';
                info.style.width = '100%';
                info.style.textAlign = 'center';

                window.addEventListener('resize', onWindowResize, false);
            }

            function animate() {
                requestAnimationFrame(animate);
                controls.update();
                render();
                stats.update();
            }

            function render() {
                renderer.render(scene, camera);
            }

            function onWindowResize() {
                camera.aspect = window.innerWidth / window.innerHeight;
                camera.updateProjectionMatrix();
                renderer.setSize(window.innerWidth, window.innerHeight);
            }
        </script>
    </head>
    <body>
        <div id="container">
            <div id="canvas"></div>
            <div id="info" ng-controller="ngAttributeController">
                <a href ng-click='refreshAttribute()'>Refresh Attributes</a><br>
                <select ng-model='attribute' ng-options='it.label for it in attributes'></select>
            </div>
        </div>
    </body>
</html>
