<!DOCTYPE html>
<html ng-app>
    <head>
        <title>VISTAS WebGL</title>
        <script src="http://web.engr.oregonstate.edu/~ratanasv/WebGL-Inspector/core/embed.js"></script>
        <script src=http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
        <script src="http://web.engr.oregonstate.edu/~ratanasv/threejs/build/three.js"></script>
        <script src="http://web.engr.oregonstate.edu/~ratanasv/threejs/examples/js/libs/stats.min.js"></script>
        <script src="http://web.engr.oregonstate.edu/~ratanasv/threejs/examples/js/controls/OrbitControls.js"></script>
        
    </head>
    <body>
        <div id="container">
            <div id="canvas"></div>
            <div id="info" ng-controller="ngInfoController">
                <select ng-model='dataFileName' ng-options='it.label for it in dataFileNames'></select><br>
                <select ng-model='attribute' ng-options='it.label for it in attributes'></select><br>
            </div>
        </div>
        <script>
            var servisHost = 'http://54.200.144.27:8888';
            var container, stats, info;
            var camera, scene, renderer, controls;
            var mesh, geometry;
            var vbos;


            function getData() {
                var queryObject = {
                    method: 'getTerrain',
                    fileName: 'easternOregon'
                };
                var callback = function(res) {
                    vbos = res;
                    initScene();
                };
                makeServisRequest(queryObject, callback);
            }

            function addGeometryAttributes(geometry) {
                var face;
                var greyColor = new THREE.Color();
                greyColor.r = 0.5; greyColor.g = 0.5; greyColor.b = 0.5;
                geometry.dynamic = true;
                for (var i=0; i<vbos.indices.length/3; i++) {
                    var face = new THREE.Face3(vbos.indices[3*i+0], vbos.indices[3*i+1], vbos.indices[3*i+2]);
                    face.color = greyColor;
                    geometry.faces.push(face);
                }
                for (var i=0; i<vbos.vertices.length; i++) {
                    geometry.vertices.push(
                        new THREE.Vector3(vbos.vertices[i].x, vbos.vertices[i].y, vbos.vertices[i].z));
                }
            }

            function addLighting(scene) {
                var directionalLight = new THREE.DirectionalLight(0xffffff);
                directionalLight.position.set(1,1,1).normalize();
                scene.add(directionalLight);
            }

            function makeServisRequest(query, callback) {
                $.ajax({
                    url: servisHost,
                    data: query,
                    dataType: 'jsonp',
                    success: callback
                });
            }

            function makeServisRequestNG($http, params, callback) {
                params.callback = 'JSON_CALLBACK';
                $http.jsonp(servisHost, {
                    params: params
                }).success(callback);
            };

            function ngInfoController($scope, $http) {
                var i;

                $scope.attributes = [];
                $scope.attribute = {label: ''};
                $scope.dataFileNames = [];
                $scope.dataFileName = {label:''};

                $scope.$watch('attribute', function(newValue, oldValue) {
                    var params = {
                        method: 'getColor',
                        fileName: $scope.dataFileName.label,
                        attribute: newValue.label
                    };
                    if (oldValue.label != newValue.label && newValue.label != '') {
                        makeServisRequestNG($http, params, function(data) {
                            var i, color, vertexIndex;
                            for (i=0; i<geometry.faces.length; i++) {
                                vertexIndex = geometry.faces[i].a;
                                color = new THREE.Color();
                                color.r = data[vertexIndex].x;
                                color.g = data[vertexIndex].y;
                                color.b = data[vertexIndex].z;
                                geometry.faces[i].color = color;
                            }
                            geometry.colorsNeedUpdate = true;
                        });
                    }
                });

                $scope.$watch('dataFileName', function(newValue, oldValue) {
                    var params = {
                        method: 'getTerrain',
                        fileName: newValue.label
                    };
                    if (oldValue.label != newValue.label) {
                        $scope.refreshAttribute();
                        makeServisRequestNG($http, params, function(data) {
                            vbos = data;
                            initScene();
                        });
                    }
                });

                $scope.refreshAttribute = function() {
                    var params = {
                        method: 'getAttributes',
                        fileName: $scope.dataFileName.label
                    };
                    makeServisRequestNG($http, params, function(data) {
                        $scope.attributes = [];
                        for (i=0; i<data.length; i++) {
                            $scope.attributes.push({label: data[i]});
                        }
                    });
                };
                $scope.refreshDataFileName = function() {
                    var params = {
                        method: 'getDatasets'
                    };
                    makeServisRequestNG($http, params, function(data) {
                        $scope.dataFileNames = [];
                        for (i=0; i<data.length; i++) {
                            $scope.dataFileNames.push({label: data[i]});
                        }
                        initGraphicsEnv();
                        animate();
                    });
                }

                $scope.refreshDataFileName();
            };

            function initScene() {
                geometry = new THREE.Geometry();
                addGeometryAttributes(geometry);
                geometry.computeBoundingSphere();
                geometry.computeVertexNormals(true);

                scene = new THREE.Scene();
                mesh = new THREE.Mesh(geometry, new THREE.MeshPhongMaterial({
                    color: 0xaaaaaa,
                    ambient: 0xaaaaaa,
                    vertexColors: THREE.VertexColors,
                    side: THREE.DoubleSide
                }));
                scene.add(mesh);
                addLighting(scene);

                camera = new THREE.PerspectiveCamera(45, window.innerWidth/window.innerHeight, 1, 5000);
                camera.position.z = 50;
                camera.lookAt(scene.position);
                controls = new THREE.OrbitControls(camera, document.getElementById('canvas'));
            }

            function initGraphicsEnv() {
                var niceFit;

                renderer = new THREE.WebGLRenderer({
                    antialias: true
                });
                niceFit = getNiceCanvasSize();
                renderer.setSize(niceFit.width, niceFit.height);
                container = document.getElementById('container');
                document.getElementById('canvas').appendChild(renderer.domElement);

                stats = new Stats();
                stats.domElement.style.position = 'absolute';
                stats.domElement.style.top = '0px';
                container.appendChild(stats.domElement);

                info = document.getElementById('info');
                info.style.position = 'absolute';
                info.style.top = '10px';
                info.style.width = '90%';
                info.style.textAlign = 'center';

                window.addEventListener('resize', onWindowResize, false);
            }

            function animate() {
                requestAnimationFrame(animate);
                if (controls !== undefined) {
                    controls.update();
                }
                render();
                stats.update();
            }

            function render() {
                if (scene !== undefined) {
                    renderer.render(scene, camera);
                }
            }

            function onWindowResize() {
                var niceFit = getNiceCanvasSize();
                camera.aspect = niceFit.width/niceFit.height;
                camera.updateProjectionMatrix();
                renderer.setSize(niceFit.width, niceFit.height);
            }

            function getNiceCanvasSize() {
                return {
                    width: window.innerWidth-30,
                    height: window.innerHeight-30
                };
            }
        </script>
    </body>
</html>
